<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% block extra_links %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <span id="logo">
                <a href="/"><img src="/static/wikipedia.png"
                    style="vertical-align: middle; border: none;" /><span
                        style="color: blue;">linky</span>pedia<sub>α</sub></a>
            </span>
        </div>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
            If you like the site, want to add your own features, or 
            want to run an instance yourself please checkout 
            the code from <a style="text-decoration: underline" href="http://github.com/edsu/linkypedia">GitHub</a>.
        </div>
    </body>
</html>
