<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet" type="text/css">
        <script src="/static/jquery-1.4.2.min.js" type="text/javascript"></script>
        {% block extra_head %}{% endblock %}
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16871278-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s); 
            })();
        </script>
        {% block extra_script %}{% endblock %}
    </head>
    <body>
        <a href="http://github.com/edsu/linkypedia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a> 
        <div id="header">
            <span id="logo">
                <a href="/"><img src="/static/wikipedia.png"
                    style="vertical-align: middle; border: none;" /><span
                        style="color: blue;">linky</span>pedia<sub>α</sub></a>
            </span>
        </div>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
            If you like the site, want to add your own features, or 
            run it yourself please checkout 
            the code from <a style="text-decoration: underline" href="http://github.com/edsu/linkypedia">GitHub</a>.
        </div>
    </body>
</html>
