{% extends "website.html" %}
{% load humanize %}

{% block tab_summary %}

<div id="wikipedia_article">
    <h2>Wikipedia pages that link to <a href="{{ url|safe }}">{{ url }}</a>.</h2>
</div>

{% endblock %}

{% block tab_content %}
<table id='page_summary'>
    <tr>
        <th>Wikipedia Page</th>
    </tr>
    {% for link in links %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td style="word-wrap: break-word;"><a href="{% url page link.wikipedia_page.id %}">{{ link.wikipedia_page.title }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
