{% extends "base.html" %}
{% load humanize %}

{% block extra_head %}
    <link rel="alternate" href="{% url websites_feed %}" type="application/atom+xml" title="Atom Feed for Linkypedia Website Crawl Activity" />
    <script src="/static/status.js" type="text/javascript"></script>
    <title>linkypedia</title>
{% endblock %}
{% block content %}

<div id="slogan">
    <a href="/about" style="text-decoration: underline">linkypedia</a> helps you
    <strong>explore</strong> how your web content is used on wikipedia,
    <strong>extract</strong> crowd-sourced information about your web resources,
    and <strong>connect</strong> with wikipedians who are using your stuff. More
    about the rationale for linkypedia can be found <a href="/about">here</a>.</
    <a href="{% url websites_feed %}"><img class="feed_icon" src="/static/feed.png" /></a>
</div>

<p id="update">
<span id="last_link"></span>
</p>

<div id="websites">
    <table id="websites">
        {% for website in websites %}
        <tr>
        <td>
            <a href="{% url website_summary website.id %}" title="{{ website.url }}">
            {% if website.favicon_url %}
            <img src="{{ website.favicon_url }}" class="favicon" title="{{ website.name }}"/>
            {% endif %}
            {{ website.name }}
            {% if website.last_crawl %}
            ({{ website.links.count|intcomma }})
            {% else %}
            <img class="spinner" title="waiting for crawl to complete" style="border: none;" src="/static/spinner.gif" />
            {% endif %}
            </a>
        </td>
        </tr>
    {% endfor %}
    </table>
</div>

<p id="apology">
At one point linkypedia allowed anyone to add a website to monitor, 
but too many were added for this tiny server to handle. A 
<a href="http://github.com/edsu/linkypedia/wiki/linkypedia-v2">redesign</a>
is in progress, but until it's online please email 
<a href="mailto:ehs@pobox.com">ehs@pobox.com</a> if there is a site
you would like added. Or grab 
the code from <a href="http://github.com/edsu/linkypedia">GitHub</a> and 
run it in your own environment!
</p>

{% endblock %}
