{% extends "base.html" %}
{% load humanize %}

{% block extra_links %}
        <link rel="alternate" href="{% url websites_feed %}" type="application/atom+xml"
title="Atom Feed for Linkypedia Website Crawl Activity" />
{% endblock %}

{% block content %}

<div id="slogan">
    <a href="/about" style="text-decoration: underline">linkypedia</a> helps you
    <strong>explore</strong> how your web content is used on wikipedia,
    <strong>extract</strong> crowd-sourced information about your web resources,
    and <strong>connect</strong> with wikipedians who are using your stuff. More
    about the rationale for linkypedia can be found <a href="/about">here</a>.

    Note: this is a <strong>demo</strong> site, and can go down at any time. 
    But please feel free to 
    <a href="http://github.com/edsu/linkypedia">download</a>
    the code and run it in your own environment if you want.
    <a href="{% url websites_feed %}"><img class="feed_icon" src="/static/feed.png" /></a>
</div>

<div id="add_site">
<form action="" method="post">
    <input type="text" name="new_website_url">
    <input type="submit" name="website" value="add a website url" title="go ahead, really!">
    {% csrf_token %}
</form>
</div>

<div id="websites">
    <table id="websites">
        {% for website in websites %}
        <tr>
        <td>
            <a href="{% url website_summary website.id %}" title="{{ website.url }}">
            {% if website.favicon_url %}
            <img src="{{ website.favicon_url }}" class="favicon" title="{{ website.name }}"/>
            {% endif %}
            {{ website.name }}
            {% if website.last_checked %}
            ({{ website.links.count|intcomma }})
            {% else %}
            <img class="spinner" title="waiting for crawl to complete" style="border: none;" src="/static/spinner.gif" />
            {% endif %}
            </a>
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
