{% extends "website.html" %}
{% load humanize %}

{% block tab_summary %}
<p>
Below you will find summary information for <a href="{{ website.url }}">{{ website.name }}</a> on Wikipedia.  If the reports you find here don't do exactly what you want  <a href="{% url website_data website.id %}" rel="nofollow" style="color: red">download all the link data</a> and view it with Excel, <a href="http://docs.google.com">GoogleDocs</a>, or your favorite data munging tool. This data is made available using <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>, since that is what Wikipedia <a href="http://en.wikipedia.org/wiki/Wikipedia:About">use</a> themselves.
</p>
{% endblock %}


{% block tab_content %}

<table id="website_summary">
    <tr class="odd">
        <td>Website Title:</td>
        <td>{{ website.name }}</td>
    </tr>
    <tr class="even">
        <td>Website URL:</td>
        <td><a href="{{ website.url_cleaned }}">{{ website.url }}</a></td>
    </tr>
    <tr class="odd">
        <td>Wikipedia Links:</td>
        <td>{{ website.links.count|intcomma }}</td>
    </tr>
    <tr class="even">
        <td>Wikipedia Pages:</td>
        <td>{{ website.wikipedia_pages.count|intcomma }}</td>
    </tr>
    <tr class="odd">
        <td>Wikipedia Categories</td>
        <td>{{ website.categories.all.count|intcomma }}</td>
    </tr>
    <tr class="even">
        <td>Last Crawl:</td>
        <td>
        {% if website.last_checked %}
        {{ website.last_checked }}
        </td>
        {% else %}
        <img src="/static/spinner.gif" title="waiting for crawl to complete"/>
        {% endif %}
        </td> 
    </tr>
    {% if website.added_by %}
    <tr class="odd">
        <td>Added By:</td>
        <td>{{ website.added_by }}<td>
    </tr>
    {% endif %}
    {% if cutoff %}
    <tr class="even">
        <td style="color: red;">Crawl Cutoff:</td>
        <td style="color: red;">{{ cutoff }}</td>
    </tr>

    {% endif %}
</table>

{% endblock %}
