{% extends "website.html" %}
{% load humanize %}


{% block pages %}
    {% if paginator.num_pages > 1 %} 
    <br />
    <br />
    {% if page.leading_range %}
    {% for num in page.leading_range %}
    <a class="page_link{% if page.number == num %} current page{% endif %}" href="{% url website_categories_page website_id num %}">{{ num }}</a>
    {% endfor %}
    …
    {% endif %}

    {% if page.main_range %}
    {% for num in page.main_range %}
    <a class="page_link{% if page.number == num %} current_page{% endif %}" href="{% url website_categories_page website_id num %}">{{ num }}</a>
    {% endfor %}
    {% endif %}

    {% if page.trailing_range %}
    …
    {% for num in page.trailing_range %}
    <a class="page_link {% if page.number == num %} current_page{% endif %}" href="{% url website_categories_page website_id num %}">{{ num }}</a>
    {% endfor %}
    {% endif %}
    {% endif %}

{% endblock %}

{% block tab_summary %}
Wikipedia categories for <a href="{{ website.url }}">{{ website.name }}</a>.
{% endblock %}

{% block tab_content %}

<table id="website_details">
    <tr>
        <th>Wikipedia Categories</th>
        <th>Wikipedia<br />Pages</th>
    </tr>
    {% for category in categories %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="link_source">
            <a href="http://en.wikipedia.org/wiki/Category:{{ category.title }}">
                {{ category.title }}
            </a>
        </td>
        <td style="text-align: right;">
            {{ category.pages__count|intcomma }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
