{% extends "base.html" %}

{% block content %}

<div id="title">{{ title }}</div>

<div id="tab_pane">

<div id="tabs">
    <span class="{% if tab == "summary" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_summary website.id %}">summary</a>
    </span>
    <span class="{% if tab == "links" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_links website.id %}">links</a>
    </span>
    <span class="{% if tab == "categories" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_categories website.id %}">categories</a>
    </span>
</div>

<div id="tab_summary">
    {{ tab_summary }}
</div>

<div id="tab_content">
{% block tab_content %}
{% endblock %}
</div>

</div>

{% endblock %}
