{% extends "base.html" %}

{% block extra_head %}<title>linkypedia | {{ website.name }} ({{ website.url }}) {% endblock %}
{% block content %}

<div id="title">{{ title }}</div>

<div id="tab_pane">

<div id="tabs">
    <span class="{% if tab == "summary" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_summary website.id %}">summary</a>
    </span>
    <span class="{% if tab == "pages" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_pages website.id %}">pages</a>
    </span>
    <span class="{% if tab == "categories" %}active_tab{% else %}inactive_tab{% endif %}">
        <a href="{% url website_categories website.id %}">categories</a>
    </span>
</div>

<div id="tab_summary">
    {% block tab_summary %}
    {% endblock %}
    {% block pages %}
    {% endblock %}
</div>

<div id="tab_content">
{% block tab_content %}
{% endblock %}
</div>

</div>

{% endblock %}
