{% extends "website.html" %}
{% block extra_head %}<title>linkypedia | users for {{ website.name }} ({{ website.url }}</title>{% endblock %}
{% load humanize %}

{% block tab_summary %}
The following Wikipedia users have mentioned
<a href="{{ website.url }}">{{ website.name }}</a>
in their wikipedia profile, or associated user pages. 
The plan is to eventually also include users
who have contributed specific links to wikipedia articles.
{% endblock %}

{% block tab_content %}

<table id="website_details">
    <tr>
        <th>Username</th>
        <th>Registered</th>
        <th>Edit Count</th>
        <th>Emailable</th>
        <th>Groups</th>
        <th>Feed</th>
    </tr>
    {% for user in users %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="link_source">
            <a href="http://en.wikipedia.org/wiki/User:{{ user.username }}">
                {{ user.username }}
            </a>
        </td>
        <td style="width: 250px;">{{ user.registration|date:"Y-m-d H:m:s T" }}</td>
        <td>
            {% if user.edit_count == 0 %}
            0
            {% else %}
            <a href="http://en.wikipedia.org/wiki/Special:Contributions/{{ user.username }}">{{ user.edit_count }}</a>
            {% endif %}
        </td>
        <td>
            {% if user.emailable %}
            <a href="http://en.wikipedia.org/wiki/Special:EmailUser/{{ user.username }}">✓</a>
            {% endif %}
        </td>
        <td>
            {% for group in user.groups.all %}
            <a href="http://en.wikipedia.org/wiki/Special:ListUsers/{{ group.name }}">{{ group.name }}</a>
            {% endfor %}
        </td>
        <td>
            <a
                href="http://en.wikipedia.org/w/index.php?title=Special:Contributions/ChrisMcAvoy&feed=atom&limit=50&target={{ user.username }}"><img class="feed_icon" src="/static/feed.png"></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
