{% extends "website.html" %}
{% load humanize %}

{% block pages %}
    {% if paginator.num_pages > 1 %}
    <br />
    <br />
    {% if page.leading_range %}
    {% for num in page.leading_range %}
    <a class="page_link {% if page.number == num %}current_page{% endif %}" href="{% url website_pages_page website_id num %}">{{ num }}</a>
    {% endfor %}
    …
    {% endif %}

    {% if page.main_range %}
    {% for num in page.main_range %}
    <a class="page_link {% if page.number == num %}current_page{% endif %}" href="{% url website_pages_page website_id num %}">{{ num }}</a>
    {% endfor %}
    {% endif %}

    {% if page.trailing_range %}
    …
    {% for num in page.trailing_range %}
    <a class="page_link {% if page.number == num %}current_page{% endif %}" href="{% url website_pages_page website_id num %}">{{ num }}</a>
    {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}

{% block tab_content %}

<table id="website_details">
    <tr>
        <th>Wikipedia Page</th>
        <th>Links</th>
    </tr>
    {% for wikipedia_page in wikipedia_pages %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="wikipedia_page">
            <a href="{{ wikipedia_page.url }}">
                {{ wikipedia_page.title }}
            </a>
        </td>
        <td class="link_count">
            {{ wikipedia_page.links__count|intcomma }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
