{% extends "website.html" %}

{% block tab_content %}

<table id="website_details">
    <tr>
        <th>Wikipedia Page</th>
        <th>Website Page</th>
    </tr>
    {% for link in links %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="link_source">
            <a href="{{ link.wikipedia_page.url }}">
                {{ link.wikipedia_page.title|wordwrap:40 }}
            </a>
        </td>
        <td class="link_target">
            <a href="{{ link.target }}">
                {{ link.target|wordwrap:40 }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
