{% extends "website.html" %}
{% load humanize %}

{% block tab_summary %}
Below is a list of links from the Wikipedia page for <a href="{{ wikipedia_page.url }}">{{ wikipedia_page.title }}</a> to 
<a href="{{ website.url }}">{{ website.name }}</a>.
{% endblock %}

{% block tab_content %}

<table id="website_details">
    <tr>
        <th>Number</th>
        <th>URL</th>
    </tr>
    {% for link in links %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ forloop.counter }}</td>
        <td class="website_url"><a href="{{ link.target }}">{{ link.target }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
