{% extends "base.html" %}

{% block content %}

<table id="website_summary">
    <tr class="even">
        <td>Site:</td>
        <td>{{ website.name }}</td>
    </tr>
    <tr class="odd">
        <td>URL:</td>
        <td><a href="{{ website.url }}">{{ website.url }}</a></td>
    </tr>
    <tr class="even">
        <td>Number of Links:</td>
        <td>{{ website.links.count }}</td>
    </tr>
    <tr class="odd">
        <td>Last Crawl:</td>
        <td>
        {% if website.last_checked %}
        {{ website.last_checked }}
        </td>
        {% else %}
        <img src="/static/spinner.gif" title="waiting for crawl to complete"/>
        {% endif %}
        </td> 
    </tr>
</table>

<table>
    {% for link in links %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="link_source">
            <a href="{{ link.wikipedia_page.url }}">
                {{ link.wikipedia_page.title }}
            </a>
        </td>
        <td class="link_target">
            <a href="{{ link.target }}">
                {{ link.target }}
            </a>
        </td>
        <td>{{ link.wikipedia_page.categories.all|join:", " }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
