body {
    font-family: helvetica;
    font-size 12pt;
    margin: 10px 5% 5% 5%;
}

#header {
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    text-align: center;
}

#logo {
    font-size: 22pt;
    font-style: italic;
    margin: auto;
    color: black;
    text-align: center;
    padding: 5px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#add_site {
    text-align: center;
    width: 40%;
    margin: auto;
}

tr.odd {
    background: #eeeeee;
}

tr.even {
    background: #ffffff;
}

td.favicon {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#websites {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#website_summary {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: #eeeeee;
    margin-bottom: 15px;
    padding: 3px;
}

#website_links {
    font-size: 10pt;
}

img.favicon {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}
