body {
    font-family: helvetica;
    font-size 12pt;
    margin: 10px 5% 5% 5%;
}

#header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

#footer {
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    background-color: #eeeeee;
}

#logo {
    font-size: 22pt;
    font-style: italic;
    margin: auto;
    color: black;
    text-align: center;
    padding: 5px;
}

#slogan {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    background-color: #eeeeee;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#add_site {
    text-align: center;
    width: 40%;
    margin: auto;
}

tr.odd {
    background: #eeeeee;
}

tr.even {
    background: #ffffff;
}

td {
    vertical-align: top;
}

td.wikipedia_page {
    word-break: break-all;
}

td.link_count {
    text-align: right;
}

td.favicon {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#websites {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#website_summary {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-color: #eeeeee;
    margin-bottom: 15px;
    padding: 3px;
}

#website_details {
    font-size: 10pt;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

img.favicon {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: none;
}

#tab_pane {
    width: 90%;
    text-align: center;
    margin: auto;
}

#tabs {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inactive_tab, .active_tab {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-align: center;
}

.inactive_tab {
    background-color: white;
    border-left: medium solid #eeeeee;
    border-right: medium solid #eeeeee;
    border-top: medium solid #eeeeee;
}

.active_tab {
    background-color: #eeeeee;
}

#tab_summary {
    background-color: #eeeeee;
    margin: auto;
    padding: 10px;
}

#tab_content {
    padding-top: 15px;
    border: thick solid #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.page_link {
    border: thin solid gray;
    background-color: white;
    padding: 2px;
    font-size: 11pt;
}

.current_page {
    background-color: lightblue;
    color: black;
}
