{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>source</th>
        <th>target</th>
    </tr>
    {% for link in links %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="link_source">
            <a href="{{ link.source }}">
                {{ link.source }}
            </a>
        </td>
        <td class="link_target">
            <a href="{{ link.target }}">
                {{ link.target }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
