body {
    font-family: helvetica;
    font-size 12pt;
    margin: 10px 5% 5% 5%;
}

#header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

#logo {
    font-size: 22pt;
    margin: auto;
    background: #cccccc;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 140px;
    border: thin groove #cccccc;
}

#logo a {
    color: white;
}

tr.odd {
    background: #eeeeee;
}

tr.even {
    background: #ffffff;
}

td {
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: black;
}
